* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  background-color: black;
}
div.circulo{
  height: 400px;
  width: 400px;
  padding-top: 120px;
  margin: 150px 600px;
  border: 10px solid orange;
  border-radius: 250px;
  text-align: center;
}
span {
  color: white;
  font-size: 75px;
  font-weight: 300;
}
a{
  color: white;
  margin: 0 50px;
  border: 2px solid orange;
  text-decoration: none;
}
.cancelar{
  height: 100px;
  width: 100px;
}