* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  background-color: black;
}
div.circulo{
  height: 400px;
  width: 400px;
  padding-top: 140px;
  margin: 150px 600px;
  border: 10px solid orange;
  border-radius: 250px;
  text-align: center;
}
span {
  color: white;
  font-size: 75px;
  font-weight: 300;
}
a{
  display: block;
  background-color: green;
  color: white;
  text-decoration: none;
  text-align: center;
}