*{
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  display: grid;
  place-items: center;
}
html,body {
  height: 90%;
}
.tempo {
  font-size: 200px;
  font-weight: 300;
}
.circulo{
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
}